.tour-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  transition: transform 0.3s;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tour-card:hover {
  transform: scale(1.05);
}

.tour-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tour-card__details {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tour-card__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #bdb9b9;
}

.tour-card__summary {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #c3c3c3;
  flex-grow: 1;
}

.tour-card__info {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #8d8d8d;
}

.tour-card__price {
  font-size: 1.2rem;
  color: #e67e22;
  margin-bottom: 15px;
}

.tour-card__ratings {
  font-size: 1rem;
  color: #f39c12;
  margin-bottom: 15px;
}

.tour-card__explore-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  align-self: center;
}

.tour-card__explore-button:hover {
  background-color: #0056b3;
}
