.header {
  background-color: #333;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.logo:hover {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
